.DS_Store
.vscode/
.idea/
*.iml
*.ipr
node_modules/
node/
dist/
target/
npm-debug.log*
yarn-debug.log*
yarn-error.log*
test/unit/coverage
nbactions.xml
nb-configuration.xml

# Eclipse
.project
.classpath
.settings/